* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
     background-repeat: no-repeat;
     background-size: 100% auto;
}

div#header {
    width: 800px;
    height: 100px;
    background-color: #003399;
    margin-top: -10px;
    margin-left: 50%;
    margin-right: 50%;
    margin: auto;
    margin-top: -8px;
    line-height: 100px;
}

div#header a {
    text-decoration: none;
}

span#header-title {
    margin-left: 25px;
    font-family: Arial, sans-serif;
    font-size: 56px;
    color: white;
}

div#outer-container {
    display: table;
    width: 400px;
    height: 300px;
    margin-left: 50%;
    margin-right: 50%;
    margin: auto;
    margin-top: 100px;
    background: #CDDC39;
}

div#inner-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

div#center-container {
    display: inline-block;
    background: #CDDC39;
    padding: 20px;
}

caption#table-title {
    text-align: center;
    font-size: 24px;
}

th.row-title {
    text-align: right;
}

td#forgot-pass {
    text-align: right;
}

caption#table-title {
    height: 70px;
}

button#action-button {
    margin-top: 25px;
    width: 150px;
    height: 40px;
    font-size: 1.1em;
    border: 1px groove black;
    border-radius: 5px;
    background-color: powderblue;
    cursor: pointer;
}

#action-button:hover{
    border: 1px groove white;
}
