/*----------------------------------------------------------------------------*/
/*                                 BASICS                                     */
/*----------------------------------------------------------------------------*/

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
  font-weight: normal;
}

th {
  font-size: 0.84em;
  font-weight: bold;
}

button {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  border: none;
  outline: none;
}

button:hover {
  border: 2px groove black;
}

#container {
  position: relative;
  height: 700px;
  width: 1200px;
  background-color: #003399;
  margin-left: 50%;
  margin-right: 50%;
  margin: auto;
  padding: 10px 10px 25px 10px;
}

#container-title {
  font-family: Arial, sans-serif;
  height: auto;
  width: auto;
  font-size: 56px;
  padding: 5px;
  color: white;
}

/*----------------------------------------------------------------------------*/
/*                          SHOPPING CART CONTAINER                           */
/*----------------------------------------------------------------------------*/

/* Shopping card title */
#order-header {
  font-size: 24px;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

/* Main container */
#active-container {
  position: relative;
  height: 600px;
  width: 300px;
  margin-top: 20px;
  padding: 10px;
  background-color: #ffff99;
  float: left;
}

/* Table div */
#order-list {
  height: 400px;
  width: auto;
  background-color: white;
  border-top: 2px solid #7e7e7e;
  border-bottom: 2px solid #7e7e7e;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* Shopping cart table */
#order-list table {
  border-spacing: 0px;
  font-size: 0.84em;
  table-layout: fixed;
}
#order-list th {
  padding-top: 10px;
  padding-bottom: 10px;
}
#order-list tr {
  border-bottom: 1px dashed #AAAAAA;
}
#order-list td {
  border-bottom: 1px dashed #AAAAAA;
  padding-top: 5px;
  padding-bottom: 5px;
}
#order-list table td:nth-child(1) {
  overflow: hidden;
}
#order-list input[type="number"] {
  width: 90%;
  text-align: center;
  border: none;
}
#order-list table td:nth-child(3) {
  text-align: right;
  padding-right: 5px;
}
#order-list button {
  width: 90%;
  text-align: center;
}

/* Delete button small */
button.active-del-btn {
  background-color: #ff5c33;
  border: 1px groove black;
  border-radius: 3px;
}

button.active-del-btn:hover {
  border: 1px groove white;
}

/* Total cost */
#cost-container {
  display: flex;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
#cost-total {
  text-align: right;
  width: 100%;
}

/* Pay and cancel buttons */
#active-button-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* Buy submit button */
.submit-button {
  width: 130px;
  font-size: 1.1em;
  padding: 10px;
  border-radius: 7px;
  background-color: #CDDC39;
  border: 1px groove black;
}

.submit-button:hover {
  border: 1px groove white;
}

/* Buy cancel button */
.cancel-button {
  width: 130px;
  font-size: 1.1em;
  padding: 10px;
  border-radius: 7px;
  background-color: #FF5C33;
  border: 1px groove black;
}

.cancel-button:hover {
  border: 1px groove white;
}

/*----------------------------------------------------------------------------*/
/*                PRODUCTS, CATEGORIES AND CONFIGURE BUTTONS                  */
/*----------------------------------------------------------------------------*/

/* Products and categories base container */
.product-category-base {
  position: relative;
  height: 500px;
  width: 800px;
  margin-top: 20px;
  background-color: #ffff99;
  float: right;
}

/* Initial displays of pages */
#category-div {
  display: block;
}
#product-div {
  display: none;
}
#category-add-div {
  display: none;
}
#product-add-div {
  display: none;
}

/* Category button */
.category-btn {
  font-size: 0.8em;
  border: 1px groove #F44336;
  border-radius: 6px;
  background: #CDDC39;
  width: 94px;
  height: 94px;
  position: relative;
  float: left;
  word-wrap: break-word;
  overflow: hidden;
  padding-top: 7px;
  margin:3px
}
.category-btn:hover {
  border: 1px groove white;
}

/* Product button */
.product-btn {
  font-size: 0.8em;
  border: 1px groove #673AB7;
  border-radius: 6px;
  background: #00bcd4;
  width: 94px;
  height: 94px;
  position: relative;
  float: left;
  word-wrap: break-word;
  overflow: hidden;
  padding-top: 7px;
  margin:3px
}
.product-btn:hover {
  border: 1px groove white;
}

div.product-name {
  font-weight: bold;
  word-wrap: break-word;
  height: 35px;
  text-align: center;
  overflow: hidden;
  padding: 0;
}

/* Configuration buttons container */
#config-button-container {
  display: flex;
  float: right;
  width: 800px;
  margin-top: 30px;
  height: 40px;
  justify-content: space-between;
}

/* Configuration buttons */
.config-button {
  width: 150px;
  font-size: 1.1em;
  border: 1px groove black;
  border-radius: 5px;
  background-color: powderblue;
}

.config-button:hover {
  border: 1px groove white;
}

/* Category and product adding forms */
#product-category-base th {
  text-align: right;
}
#category-add-div, #product-add-div {
  margin: 25px;
}
.input-button-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;

}
