/*----------------------------------------------------------------------------*/
/*                                 BASICS                                     */
/*----------------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
  font-weight: normal;
}

th {
  font-size: 0.84em;
  font-weight: bold;
}

button {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  border: none;
  outline: none;
}

.logo-img {
  width: 60%;
  text-align: center;
  vertical-align: middle;
}

/*----------------------------------------------------------------------------*/
/*                             MAIN-CONTAINER                                 */
/*----------------------------------------------------------------------------*/

/* Main container */
#main-container {
  position: relative;
  height: 700px;
  width: 1200px;
  background-color: #003399;
  margin-left: 50%;
  margin-right: 50%;
  margin: auto;
  padding: 10px 10px 25px 10px;
}

/* Main container title */
#main-container-title {
  font-family: Arial, sans-serif;
  height: auto;
  width: auto;
  font-size: 56px;
  padding: 5px;
  color: white;
}

/*----------------------------------------------------------------------------*/
/*                          SHOPPING CART CONTAINER                           */
/*----------------------------------------------------------------------------*/

/* Shopping cart itle */
#order-header {
  font-size: 24px;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

/* Shopping cart container */
#active-container {
  position: relative;
  height: 600px;
  width: 350px;
  margin-top: 20px;
  padding: 10px;
  background-color: #ffff99;
  float: left;
}

/* Shopping cart table div */
#order-list {
  height: 400px;
  width: auto;
  background-color: white;
  border-top: 2px solid #7e7e7e;
  border-bottom: 2px solid #7e7e7e;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Shopping cart table */
#order-list table {
  border-spacing: 0px;
  font-size: 0.84em;
  table-layout: fixed;
}
#order-list th {
  padding-top: 10px;
  padding-bottom: 10px;
}
#order-list tr {
  border-bottom: 1px dashed #AAAAAA;
}
#order-list td {
  border-bottom: 1px dashed #AAAAAA;
  padding-top: 5px;
  padding-bottom: 5px;
}
#order-list table td:nth-child(1) {
  overflow: hidden;
}
#order-list input[type="number"] {
  width: 90%;
  text-align: center;
  border: none;
}
#order-list table td:nth-child(3) {
  text-align: right;
  padding-right: 5px;
}
#order-list input {
  font-size: 0.84em;
  width: 80%;
  border: none;
}
#order-list input[type="number"] {
  text-align: right;
}
#order-list button {
  width: 90%;
  text-align: center;
}

/* Shopping cart delete button small */
button.active-del-btn {
  background-color: #ff5c33;
  border: 1px groove black;
  border-radius: 3px;
}
button.active-del-btn:hover {
  border: 1px groove white;
}

/* Shopping cart total cost */
#cost-container {
  display: flex;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
#cost-total {
  text-align: right;
  width: 100%;
}

/* Shopping cart pay and cancel buttons */
#active-button-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.submit-btn, .cancel-button {
  width: 130px;
  font-size: 1.1em;
  padding: 10px;
  border-radius: 7px;
  background-color: #CDDC39;
  border: 1px groove black;
}
.submit-btn:hover, .cancel-button:hover {
  border: 1px groove white;
}

/*----------------------------------------------------------------------------*/
/*                   PRODUCTS AND CATEGORIES CONTAINERS                       */
/*----------------------------------------------------------------------------*/

/* Products and categories base container */
.product-category-base {
  position: relative;
  height: 500px;
  width: 800px;
  margin-top: 20px;
  background-color: #ffff99;
  float: right;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Initial displays of category and prodtuct containers */
#category-div {
  display: block;
}
#product-div {
  display: none;
}
#category-add-div {
  display: none;
}
#product-add-div {
  display: none;
}
.c-edit-container {
  display: none;
}

/* Category and product adding and editing forms */
#product-category-base th {
  text-align: right;
}
#category-add-div, #product-add-div, .c-edit-container {
  margin: 25px;
  width: 700px;
}
#category-add-div h1, #product-add-div h1, .c-edit-container h1 {
  margin-bottom: 50px;
}
/*----------------------------------------------------------------------------*/
/*                    PRODUCTS AND CATEGORIES BUTTONS                         */
/*----------------------------------------------------------------------------*/

/* Category and product single container */
.cp-btn-container {
  margin: 3px;
  width: 81px;
  display: none;
  float: left;
}

/* Category and product button */
.category-btn, .product-btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 0.8em;
  background: #CDDC39;
  width: 66px;
  height: 81px;
  position: relative;
  word-wrap: break-word;
  overflow: hidden;
  padding: 5px;
}

/* Product button title */
.product-name {
  font-weight: bold;
  word-wrap: break-word;
  height: 35px;
  text-align: center;
  overflow: hidden;
  padding: 0;
}

/* Category and product delete-edit container */
.del-edit-container {
  float: right;
  width: 15px;
  height: 30px;
}

/* Category and product delete button */
.del-cp-btn {
  border-top-right-radius: 5px;
  background-color: #FF5C33;
  float: left;
  width: 15px;
  height: 15px;
  font-size: 10px;
}

/* Category and product edit button */
.edit-cp-btn {
  border-bottom-right-radius: 5px;
  background-color: #CDDC39;
  float: right;
  width: 15px;
  height: 15px;
  font-size: 10px;
}

/* Category and product add button */
.add-cp-btn {
  border-radius: 5px;
  font-size: 3em;
  width: 81px;
  height: 81px;
  position: relative;
  word-wrap: break-word;
  overflow: hidden;
}
.add-cp-btn img {
  padding: 20px, 20px, 20px, 20px;
}

/* Category and product main button, delete button and edit button hover */
.product-btn:hover, .del-cp-btn:hover, .edit-cp-btn:hover, .add-cp-btn:hover {
  border: 1px groove black;
}

/*----------------------------------------------------------------------------*/
/*                          SAVE-CANCEl-BACK BUTTONS                          */
/*----------------------------------------------------------------------------*/

/* Save-cancel-back button container */
.input-button-container {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  height: 50px;
  width: 350px;
  justify-content: space-between;
}

/* Save-cancel-back button container */
#small-menu-btn {
  width: 50px;
  font-size: 1.5em;
  border: 1px groove black;
  border-radius: 5px;
  background-color: #CDDC39;
  padding: 5px;
}
#small-menu-btn:hover {
  border: 1px groove white;
}
/*----------------------------------------------------------------------------*/
/*                            CONFIGURATION BUTTONS                           */
/*----------------------------------------------------------------------------*/

/* Configuration buttons container */
#menu-btn-container {
  display: flex;
  float: right;
  width: 800px;
  margin-top: 20px;
  justify-content: space-between;
}
